.right-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 20px;

    .login-box {
        width: 60%; 
        text-align: left;
        color: black;
        
        h2 {
            margin: 0;
            font-size: 21px;
            font-weight: bold;
        }
        
        p {
            margin: 5px 0 35px 0;
            font-size: 15px;
        }
    
        input {
            background-color: white;
            width: calc(100% - 56px);
            display: block;
            border: 1px solid lightgrey;
            border-radius: 20px;
            padding: 13px 28px;
            margin: 10px auto;
            font-size: 12px;
        }
    
        button {
            width: calc(125% - 56px); 
            display: block;
            background-color: rgb(60, 93, 255);
            border: none;
            border-radius: 20px;
            color: white;
            padding: 13px;
        }
    
        a {
            display: block;
            font-size: 12px;
            margin-top: 15px;
            color: grey;
            text-decoration: none;
            text-align: center;
        }
    } 
}