.left-section {
    background: rgb(6,0,112);
    background: linear-gradient(30deg, rgba(6,0,112,1) 0%, rgba(1,83,221,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    
    .content {
        margin-right: 100px;
        text-align: left;
        
        h1 {
            margin: 0;
            font-size: 35px;
        }
    
        p {
            margin: 10px 0;
            font-weight: 300;
            font-size: 15px;
        }
    
        button {
            background-color: rgb(60, 93, 255);
            border: none;
            border-radius: 20px;
            color: white;
            margin-top: 10px;
            padding: 8px 28px;
        }
    }
}
